.card1 {
	width: 100%;
                  height: 80vw;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 3px 6px #ccc;




}

.title1 {
	border-radius: 1vw 1vw 0vw 0vw;
                  font-size: 4vw;
	padding: 0.3vw;
	text-align: center;
	color: #444;
	background-color: #1dcd00;
}

.content1 {
	padding: 0vw;
	color: #666;
	text-align: center;
                  font-size: 5vw;

}

.content2 {
	padding: 0vw;
	color: #666;
	text-align: center;
                  font-size: 25vw;
	line-height:0.5vw;
	
}

.content0 {
	padding: 0vw;
	text-align: center;
                  font-size: 5vw;
}





#fixed {
position: fixed; /* 要素の位置を固定する */

bottom: 0; 
margin: 0; /* 要素の余白を０にする */
padding: 5; /* 要素内側の余白を指定する */
height:30px; /* 高さを指定する */
width: 100%; /* 幅を指定する */
background: #326693; /* 背景色を指定する */
color:white; /* フォントの色を指定する */
text-align: center;

}






 .image-container {
      position: relative;
      display: inline-block;
      width: 300px; /* 画像サイズに合わせて適切な幅を設定してください */
    }

    .overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      font-size: 24px; /* 適切なフォントサイズに設定してください */
      font-weight: bold;
      font-family: 'Arial', sans-serif; /* 適切なフォントを指定してください */
    }
















